.App {
  text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

.header-dropdown{
  background-color: black;
  padding: 25px;
  margin-bottom: 50px;
  background-position: center;
  background-size :cover;
  background-repeat: no-repeat;
  color: #fff;
  opacity: .65;
}
.header-dropdown select{
  width: 40%;
  height: 40px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.5px;
 
}
#weatherTable
{
  background-color: black;
  color: #fff;
  opacity: .65;
  padding: 27px;
}
